@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Onest;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Onest-Medium.woff2) format("woff2");
}

@font-face {
    font-family: Onest;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/fonts/Onest-Bold.woff2) format("woff2");
}
* {
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}