---
import Layout from "../layouts/layout.astro"
import Article from "../components/article.astro"
---

<Layout title="Recordem-ho | Història">
	<header class="min-h-[100vh] w-full relative bg-black">
		<img
			data-src="https://i.ibb.co/6JnLb4P/els-segadors-catalunya.webp"
			alt=""
			class="w-full h-[100vh] object-cover absolute top-0 left-0 opacity-50 z-[1]"
		/>
		<div
			class="flex flex-col justify-center items-center text-white z-20 min-h-[100vh] w-full absolute top-0 left-0"
		>
			<div class="px-[15px] max-w-[1000px] w-full text-start">
				<span class="py-[8px] px-[15px] bg-zinc-900 rounded-full">Història</span>
				<h1 class="font-bold text-[50px] max-w-[700px]">
					Corpus de Sang i Guerra del Segadors
				</h1>
				<p class="text-[20px] text-gray-300 w-full">
					Descobreix la història de Catalunya sense filtres.
				</p>
			</div>
		</div>
	</header>
	<main class="p-[20px] max-w-[1000px]">
		<section id="llegeix">
			<div class="grid grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1 gap-[20px]">
				<Article
					title="Corpus de Sang i Guerra dels Segadors"
					desc=`En 1640, més de 2.000 pagesos cansats dels abusos i saquejos castellans
					a les poblacions locals catalanes, van anar cap a Barcelona amb
					l'objectiu de fer valer la seva veu🗡️.`
					url="/articles/corpus-de-sang/ca"
					img="https://i.ibb.co/6JnLb4P/els-segadors-catalunya.webp"
				/>
				<Article
					title="Liber Mailochinus"
					desc=`L'any 1113, en la conquesta de Mallorca controlada en aquell moment pels musulmans, va ser la primera vegada que es va usar el topònim Catalunya.`
					url="/articles/liber-maiolichinus/ca"
					img="https://i.ibb.co/pwqHJ6V/liber-maiolichinus.webp"
				/>
			</div>
		</section>
	</main>
</Layout>
