---
import Layout from "../layouts/layout.astro"
import Article from "../components/article.astro"
import Header from "../components/header.astro"

const posts = await Astro.glob("./articles/*/ca.md")
---

<Layout title="Pàtria | Història">
	<Header />
	<main class="p-[20px] max-w-[1000px]">
		<section id="llegeix">
			<div class="grid grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1 gap-[20px]">
				{
					posts.map((post) => {
						return (
							<Article
								title={post.frontmatter.title}
								desc={post.frontmatter.introduction}
								url={post.url!}
								img={post.frontmatter.thumbnail}
							/>
						)
					})
				}
			</div>
			<h1 class="py-[20px] text-[30px] font-bold">Desmentit!</h1>
			<div class="grid grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1 gap-[20px]">
				<Article
					title="Mite: Catalunya mai fou una nació"
					desc=`N'hi ha el mite de que Catalunya mai ha estat una nació i sempre ha estat subjecte a Espanya o a Castella. Això no és cert.`
					url="/desmentit/catalunya-mai-fou-una-nacio/ca"
					img="https://i.ibb.co/ZzHDsLx/catalunya-nacio.webp"
				/>
			</div>
		</section>
	</main>
</Layout>
