<nav class="bg-black w-full fixed top-0 left-0 z-[100] py-[20px]">
	<div class="w-full max-w-[1000px] text-white flex items-center px-[15px]">
		<div class="text-start w-full max-w-[200px] ml-0">
			<a href="/" class="w-fit text-[25px] font-bold">recordem-ho</a>
		</div>
		<div class="w-full gap-[20px] inline-block">
			<a href="#articles"						>Llegeix</a>
			<a href="/informacio" class="ml-[20px]">Informació</a>
		</div>
	</div>
</nav>
