---
import Nav from "../components/nav.astro"
import { ViewTransitions } from "astro:transitions"
import "../styles/index.css"

interface Props {
	title: string
}
const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://i.ibb.co">
		<link rel="preload" href="/fonts/Onest-Medium.woff2" as="font" crossorigin="" />
		<link rel="preload" href="/fonts/Onest-Bold.woff2" as="font" crossorigin="" />
		<ViewTransitions />
		<script>
			const Lazy = (target: any) => {
				const io = new IntersectionObserver((entries, observer) => {
					entries.forEach((entry) => {
						let elementName = entry.target.nodeName.toLocaleLowerCase()
						if (entry.isIntersecting && elementName === "img") {
							const img = entry.target
							img.setAttribute("src", img.getAttribute("data-src")!)
							img.classList.add("fade")
							observer.disconnect()
						}
					})
				})
				io.observe(target)
			}
			document.addEventListener("astro:page-load", () => {
				const images = document.querySelectorAll("img")
				images.forEach(Lazy)
			})
		</script>
	</head>
	<body
		class="m-auto min-h-[100vh] w-full font-[Onest] bg-slate-200 dark:bg-zinc-900 dark:text-white"
	>
		<Nav />
		<slot />
	</body>
</html>
